/* src/index.css */
@import "tailwindcss";

body { @apply bg-[#0b0b0b] text-white; }
html {
    scroll-behavior: smooth;
}

/* intro animation */
@keyframes letterReveal {
    0% {
        opacity: 0;
        transform: scale(0.7) translateY(20px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.animate-letter-reveal {
    animation: letterReveal 0.45s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}